@import "tailwindcss";

:root {
  --font-kodchasan: 'Kodchasan', sans-serif;
}

body {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

/* Custom utilities for font families */
.font-kodchasan {
  font-family: var(--font-kodchasan);
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
